.flex-container-timezone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  background: white;
  padding: 5px;
}

.timezone {
  display: flex;
  justify-content: center;
  min-width: 200px;
  flex: 1;
  padding: 5px;
  margin: 5px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  border-style: ridge;
  border-width: 3px;
}

.info-div {
  background-color: white;
  padding: 5px;
}

.flex-container-turnover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  flex: 1;
}

.turnover {
  display: flex;
  flex: 1;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  background-color: #e6e6e6;
  text-align: center;
}

.main {
  background-color: #e6e6e6;
}

.graph {
  display: "flex";
  flex: 1;
  padding: 5px;
  margin: 5px;
  border-style: ridge;
  border-width: 1px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-style: ridge;
  border-width: 2px;
  padding: 2px;
  flex-wrap: wrap;
}

.text1 {
  padding-right: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.text2 {
  padding: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}


